# Environment files
.env*
!.env.example
!services/nft-icon-fetcher
# Database data
services/blockscout-db-data/
services/stats-db-data/
services/redis-data/
data/
# Logs and temporary data
logs/
services/logs/
services/dets/
blockscout/blockscout
node_modules/
test-contracts/package-lock.json
.gitignore
cache
artifacts
# Helm
Chart.lock
*.tgz
pub-sealed-secrets-cert.pem

# VSCode
.vscode/
ansible/inventory.ini
services/nft-icon-fetcher/fetcher
services/nft-icon-fetcher/go.mod
services/nft-icon-fetcher/go.sum
