# Environment files
.env*
!.env.example

# Database data
services/blockscout-db-data/
services/stats-db-data/
services/redis-data/
data/
# Logs and temporary data
logs/
services/logs/
services/dets/
blockscout


# Helm
Chart.lock
*.tgz
pub-sealed-secrets-cert.pem

# VSCode
.vscode/